* {
    padding: 0;
    margin: 0;
    font-family: poppins;
}

body {
    background: url('./bg-intro-desktop.png') no-repeat;
    background-color: #ff7978;
    color: white;
}

@media screen and (max-width:992px) {
    body {
        background-color: blue;
        color: white;
    }
}

@media screen and (max-width:500px) and (min-width:300px) {
    body {
        background-color: brown;
        color: white;
    }
}

main {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.content {
    display: flex;
}

.left-content p {
    font-size: 13px;
    padding: 2px 8px;
    margin: 2px;
}

.registration-form p {
    font-size: 15px;
    margin: 8px 0;
}

.registration-form input {
    font-size: 12px;
    padding: 10px 8px;
    border-radius: 5px;
    border: 0;
    width: 100%;
    outline: none;
}

.registration-form button {
    font-size: 12px;
    font-weight: bold;
    margin: 10px 8px;
    padding: 10px 8px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 0;
    background-color: #39cb8a;
}